<div class="meme-container">
	<ul ng-if="listing.showMemes">
		<li ng-repeat="meme in memes">
			<div class="meme-window" ng-click="onMemeClick(meme)" uib-popover="SOSI PISOS" popover-trigger="'mouseenter'" popover-placement="'right'">
				<img class="outer-image" src="content/img/picframe.png">
				<img class="inner-image" ng-src="{{meme.pic}}" />
			</div>
		</li>
	</ul>
	<div class="info-container" ng-if="listing.showTextMeme">
		<a href="" ng-click="listing.showMemes = true; listing.showTextMeme = false;">Назад</a>
		<p></p>
		<h2>{{chosenMeme.desc}}</h2>
		<p>Краткое описание</p>
		<div>{{chosenMeme.body}}</div>
		<p>Примеры использования:</p>
		<div>
			<ul ng-repeat="ex in chosenMeme.examples">
				<li>"{{ex}}"</li>
			</ul>
		</div>
	</div>
	<div class="info-container" ng-if="listing.showImageMeme">
		<a href="" ng-click="listing.showMemes = true; listing.showImageMeme = false;">Назад</a>
		<p></p>
		<h2>{{chosenMeme.desc}}</h2>
		<p>Краткое описание</p>
		<div>{{chosenMeme.body}}</div>
		<p>Фотожабы:</p>
		<div>
			<div ng-repeat="img in chosenMeme.pics"><img ng-src="{{img}}"></div>
		</div>
	</div>
	<div class="info-container" ng-if="listing.showVideoMeme">
		<a href="" ng-click="listing.showMemes = true; listing.showVideoMeme = false;">Назад</a>
		<p></p>
		<h2>{{chosenMeme.desc}}</h2>
		<p>Краткое описание</p>
		<div>{{chosenMeme.body}}</div>
		<p>Видео-пародии:</p>
		<div>
			<div ng-repeat="vid in chosenMeme.vids">
				<video width="320" height="240" controls>
					<source ng-src="{{vid}}" type="video/mp4"></source>
				</video>
			</div>
		</div>
	</div>
</div>