<div class="meme-container">
	<ul ng-if="listing.showMemes">
		<li ng-repeat="meme in memes">
			<div class="meme-window" ng-click="onMemeClick(meme)" uib-popover="{{meme.desc}}" popover-trigger="'mouseenter'" popover-placement="'right'">
				<img class="outer-image" src="content/img/picframe.png">
				<img class="inner-image" ng-src="{{meme.thumb}}" />
			</div>
		</li>
	</ul>
	<div class="info-container" ng-if="listing.showChosenMeme">
		<a href="" ng-click="listing.showMemes = true; listing.showChosenMeme = false;">Назад</a>
		<p></p>
		<h2>{{chosenMeme.desc}}</h2>
		<div>
		<p>Краткое описание</p>
		<div>{{chosenMeme.body}}</div>
		<p>Примеры использования:</p>
		<div>
			<ul ng-repeat="ex in chosenMeme.examples">
				<li>"{{ex}}"</li>
			</ul>
		</div>
	</div>
</div>